[submodule "Vivid-Project/Libs/glfw"]
	path = Vivid-Project/Libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vivid-Project/Libs/glm"]
	path = Vivid-Project/Libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vivid-Project/Libs/imgui"]
	path = Vivid-Project/Libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vivid-Project/Libs/spdlog"]
	path = Vivid-Project/Libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vivid-Project/Libs/di"]
	path = Vivid-Project/Libs/di
	url = https://github.com/boost-experimental/di.git
